<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper .//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.dao.CommentsDao">
    <resultMap id="getByIdComment" type="com.kk.bean.Comments">
        <id property="comment_id" column="comment_id"/>
        <result property="content" column="content"/>
        <result property="create_date" column="create_date" />
        <collection property="user" column="content_id" select="com.kk.dao.UserDao.getUserId"></collection>
        <collection property="news" column="new_id" select="com.kk.dao.NewsDao.getNewsById"></collection>
    </resultMap>
    <select id="getByIdComment" resultMap="getByIdComment" parameterType="Integer">
        SELECT
	`comment_id` as 'comment_id',
	`new_id` as 'new_id',
	`content` as 'content',
	content_id as 'content_id',
	DATE_FORMAT( `create_date`, '%Y-%m-%d %H:%i:%s' ) as 'create_date'
FROM
	`tb_comments`
WHERE
	`new_id` = #{id}
    </select>
</mapper>