<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper .//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kk.dao.NewsDao">
    <resultMap id="getUserAndNews" type="org.kk.bean.News">
        <id property="id" column="new_id" jdbcType="VARCHAR" javaType="java.lang.Integer"/>
        <result property="create_date" column="create_date" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="picture" column="picture" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="content_text" column="content_text" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="comment_num" column="comment_num" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="share_num" column="share_num" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="like" column="like" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="tag" column="tag" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <collection property="user" column="user_id" select="org.kk.dao.UserDao.getUserId" jdbcType="INTEGER" javaType="org.kk.bean.User"></collection>
    </resultMap>
    <resultMap id="getNewsAndOwn" type="org.kk.bean.News">
        <id property="id" column="new_id" jdbcType="VARCHAR" javaType="java.lang.Integer"/>
        <result property="create_date" column="create_date" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="picture" column="picture" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="content_text" column="content_text" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="comment_num" column="comment_num" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="share_num" column="share_num" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="like" column="like" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="tag" column="tag" jdbcType="VARCHAR" javaType="java.lang.String"/>
    </resultMap>
    <select id="getSelectRandom" resultMap="getUserAndNews">
        SELECT <include refid="news_table"></include> FROM `tb_news` WHERE `like` &lt;= ( SELECT floor( sum( `like` ) /( SELECT count( `new_id` ) FROM `tb_news` ) / 2
        )
        FROM
        `tb_news`
        ) and comment_num &lt;= ( SELECT floor( sum( `comment_num` ) /( SELECT count( `new_id` ) FROM `tb_news` ) / 2
        )
        FROM
        `tb_news`
        ) and share_num &lt;= ( SELECT floor( sum( `share_num` ) /( SELECT count( `new_id` ) FROM `tb_news` ) / 2
        )
        FROM
        `tb_news`
        )
        ORDER BY
        `like` DESC, comment_num desc, share_num desc
    </select>
    <select id="getTopTag" resultType="String">
        SELECT DISTINCT
        `tag`
        FROM
        `tb_news`
        WHERE DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(`create_date`)
        GROUP BY
        `tag`
        ORDER BY
        count(`tag`)  desc
        LIMIT 7
    </select>
    <select id="count" parameterType="Integer" resultType="Integer">
        select count(`user_id`) as count from `tb_news` where user_id = #{id}
    </select>
    <select id="getNewsAndUserById" resultMap="getUserAndNews">
        select <include refid="news_table"></include> from `tb_news` where user_id in(select f.friend_id  from `tb_user` u left join `tb_friends` f on f.user_id = u.id where u.id = #{id}) order by create_date
    </select>
    <select id="getNewsById" resultMap="getUserAndNews" parameterType="Integer">
        select
        <include refid="news_table"></include>
        from `tb_news`
        where new_id = #{id}
    </select>
    <select id="getNewsByTag" parameterType="String" resultMap="getUserAndNews">
        select <include refid="news_table"></include> from `tb_news` where tag = #{tag}  ORDER BY `create_date` desc
    </select>
    <select id="getNewsAndOwn" resultMap="getNewsAndOwn" parameterType="Integer">
        select <include refid="news_table"></include> from `tb_news` where user_id = #{id} order by create_date desc
    </select>
    <select id="getSearch" resultType="String">

select tag from `tb_news` WHERE TO_DAYS(create_date) = TO_DAYS(NOW()) and `like` = (select max(`like`) from `tb_news`) GROUP BY `tag`
    </select>
    <insert id="add">
         insert into `tb_news`(`user_id`, `content_text`,`picture`,`tag`)values(#{data.id},#{data.content_text},#{data.picture},#{data.tag})
    </insert>
    <update id="updateLike" parameterType="org.kk.bean.Status">
        update `tb_news`
         <set>
             <if test="flag">`like` = `like` + 1</if>
             <if test="!flag">`like` = `like` - 1</if>
        </set>
        where `new_id` = #{id}
    </update>
    <sql id="news_table">
    new_id as 'new_id',
    user_id as 'user_id',
    create_date as 'create_date',
    content_text as 'content_text',
    picture as 'picture',
    comment_num as 'comment_num',
    share_num as 'share_num',
    `like` as 'like',`tag` as 'tag'
    </sql>
</mapper>