<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper .//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kk.dao.UserDao">
    <resultMap id="getUserById" type="org.kk.bean.User">
        <id property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
		<result property="url" column="url" />
		<collection property="userInfo" column="id" select="org.kk.dao.UserInfoDao.getFriendsCount"></collection>
    </resultMap>
	<resultMap id="getUserByName" type="org.kk.bean.User">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="url" column="url"/>
		<collection property="userInfo" column="id" select="org.kk.dao.UserInfoDao.getUserHome"></collection>
	</resultMap>
	<resultMap id="getByData" type="org.kk.bean.User">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="url" column="url" />
		<collection property="userInfo" column="id" select="org.kk.dao.UserInfoDao.getFUN">
		</collection>
	</resultMap>
	<select id="getByData" resultMap="getByData" parameterType="Integer">
		select `id`, `name`, `url`
		from `tb_user` where id = #{id}
	</select>
    <select id="getUserById" resultMap="getUserById" parameterType="Integer">
        SELECT `id`, `email`, `password`, `name`, `gender`,`url`
        FROM `tb_user`
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </select>
	<select id="getUserId" resultType="org.kk.bean.User" parameterType="Integer">
		select `id`, `name`, `url`,(select count(`user_id`) from `tb_news` where `user_id` = #{id}) as countNews
		from `tb_user` where id = #{id}
	</select>
	<select id="getUserByName" resultMap="getUserByName" parameterType="String">
		select `id`, `name`, `url`
		from `tb_user` where `name` = #{name}
	</select>
	<select id="getUserEAndP" parameterType="String" resultType="Integer">
		select `id` from `tb_user`
		<where>
			<if test="email != null and email != ''">
				and `email` = #{email}
			</if>
			<if test="password != null and password !=''">
				and `password` = md5(#{password})
			</if>
		</where>

	</select>
	<select id="existName" resultType="Integer">
		select count(`id`) from `tb_user` where `name` = #{name}
	</select>
	<select id="isAttention" resultType="Integer" >
		SELECT
	count( `user_id` )
FROM
	`tb_fans`
WHERE
	user_id = ( SELECT `id` FROM `tb_user` WHERE `name` = #{name} )
	AND fan_id = #{id};
	</select>
    <insert id="addUser" parameterType="org.kk.bean.User">
        INSERT INTO `tb_user` ( `id`, `email`, `name`, `password`, `gender`,`url` )
VALUES
	(
		#{id},
		#{email},
		#{name},
	    md5(#{password}),
	    #{gender},
	    #{url}
	)
    </insert>
	<delete id="deleteUserById" parameterType="Integer">
		delete from `tb_user` where id = #{id}
	</delete>
	<insert id="addFriend" parameterType="Integer">
		insert into `tb_friends`(`user_id`,`friend_id`)values(#{user_id},#{friend_id});
	</insert>
	<delete id="deleteFriend" parameterType="Integer">
		delete from `tb_friends` where `user_id` = #{user_id} and `friend_id` = #{friend_id}
	</delete>
	<update id="updatePwd" parameterType="String">
		update `tb_user` set `password` = #{password} where `email` = #{email}
	</update>
</mapper>